@reference "../../index.css";

.action-button {
    width: 10.5rem;
    height: 10.5rem;
    @apply flex items-center justify-center rounded-full
}

.action-button-inner {
    box-shadow: inset 0 0.4rem hsl(217, 16%, 85%);
    @apply w-32 h-32 flex justify-center items-center rounded-full bg-white
}

@media (max-width: 430px) {
    .action-button {
        width: 8.5rem;
        height: 8.5rem;
        @apply flex items-center justify-center rounded-full
    }

    .action-button-inner {
        box-shadow: inset 0 0.4rem hsl(217, 16%, 85%);
        @apply w-24 h-24 flex justify-center items-center rounded-full bg-white
    }
}

.action-button-blue {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: inset 0 -0.4rem hsl(235deg 83% 56%);
}

.action-button-blue:hover {
    box-shadow: inset 0 -0.4rem hsl(235deg 83% 56%), 0 0 0.1rem 0.25rem whitesmoke;
}

.action-button-red {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: inset 0 -0.4rem hsl(0deg 80% 38%);
}

.action-button-red:hover {
    box-shadow: inset 0 -0.4rem hsl(0deg 80% 38%), 0 0 0.1rem 0.25rem whitesmoke;
}

.action-button-yellow {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: inset 0 -0.4rem hsl(30deg 93% 41%);
}

.action-button-yellow:hover {
    box-shadow: inset 0 -0.4rem hsl(30deg 93% 41%), 0 0 0.1rem 0.25rem whitesmoke;
}