@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@config "../tailwind.config.js";


@font-face {
    font-family: 'Barlow';
    src: url("./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Barlow';
    src: url("./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}

html {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Barlow, sans-serif;
}