@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Barlow';
    src: url("./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Barlow';
    src: url("./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-family: Barlow, sans-serif;
}